__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.Python

venv/
env/
ENV/

.vscode/
.idea/
*.sublime-*

.DS_Store
Thumbs.db

logs/
*.log

datasets/train/*.fen
datasets/test/*.fen
datasets/validation/*.fen

*.tmp
tmp/
temp/

__pycache__/
.pytest_cache/
.cache/

models/*
!models/my_torch_network_*.nn